@import '../../index.css';
.form {
    border-radius: 12px;
    background: #fff;
    padding: 1rem;
    margin: 0 1rem;
    position: absolute;
    top: 7rem;

    .form-main {
        height: 90%;
        
        .title {
            color: var(--marine-blue);
        }
        
        .subtitle {
            color: var(--cool-gray);
        }
    
        .ms-input-group {
            margin-bottom: 12px;
            
            input[type="text"],
            input[type="email"],
            input[type="number"] {
                border: 1px solid var(--light-gray);
                border-radius: 6px;
                padding: 8px 0;
                padding-left: 10px;
                font-size: 14px;
                color: var(--marine-blue);
                font-weight: 500;
                width: 100%;
            }
            
            input[type="radio"] {
                appearance: none;
            }

            .radio-label {
                width: 120px;
                height: 150px;
                border: 1px solid var(--light-gray);
                border-radius: 6px;
                padding: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                
                .label-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    
                    h5 {
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                    
                    span {
                        font-size: 13px;
                        color: grey;
                    }
                }
                
                &.checked {
                    border: 1px solid var(--light-blue);
                    background-color: var(--magnolia);
                }
            }
            
            label {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: var(--marine-blue);
            }

            input[type="checkbox"]:checked {
                border: 1px solid var(--marine-blue);
                accent-color: var(--purplish-blue)
            }

            input[type="checkbox"]:checked + .check-label {
                border: 1px solid var(--purplish-blue);
            }

            .check-label {
                cursor: pointer;
                border-radius: 6px;
                width: 100%;
                padding: 10px 0;
                border: 1px solid var(--light-gray);

                .checkbox-wrapper {
                    display: flex;
                    align-items: center;

                    .checkbox-title {
                        width: 70%;

                        h6 {
                            margin-bottom: 0;
                        }
                        
                        span {
                            color: grey;
                        }
                    }

                    .checkbox-footer span {
                        color: var(--purplish-blue);
                    }
    
                    .checkbox {
                        width: 15%;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

        }

        .summary {
            background-color: hsl(230%, 75%, 98%);
            border-radius: 4px;
            padding: 12px 16px;
            
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;

                .service {
                    display: block;
                    padding: 8px 0;

                    h5 {
                        color: var(--marine-blue);
                        font-weight: 600;
                        margin-bottom: 4px;
                        font-size: 14px;
                    }

                    span {
                        text-decoration: underline #000;
                        color: gray;
                    }

                    p {
                        color: gray;
                        margin-bottom: 0;
                    }
                }

                .price {

                    .plan-price {
                        font-weight: 600;
                    }
                }

               .price {

                    span {
                        color: var(--marine-blue);
                    }
               }
            }

            .line {
                width: 90%;
                background-color: var(--light-gray);
                height: .5px;
                margin: 15px auto;
            }

        }

        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            font-size: 12px;
            color: gray;

            h4 {
                font-size: 16px;
                color: var(--purplish-blue);
                font-weight: 500;
            }
        }

        .switch-tab {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(240, 240, 240);
            padding: 10px;
            font-size: 14px;
            color: var(--marine-blue);

            .switch-button {
                opacity: 0;
                position: absolute;
                left: -9999px;
                top: -9999px;

                + label {
                    display: flex;
                    align-items: center;
                    margin: 0 8px;
                    position: relative;
                }

                + label::before {
                    content: '';
                    width: 40px;
                    height: 20px;
                    border: none;
                    background: var(--marine-blue);
                    border-radius: 20px;
                    cursor: pointer;
                    caret-color: transparent;
                }

                &.monthly + label::after,
                + label::after {
                    position: absolute;
                    top: 3px;
                    content: '';
                    width: 13px;
                    height: 13px;
                    background-color: #fff;
                    border-radius: 50%;
                    transition: left .2s ease-in-out;
                }

                &.monthly + label::after {
                    left: 3px;

                }

                + label::after {
                    left: 23px;
                }
            }
        }
    }

    .thank-you-page {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: var(--marine-blue);
        }

        p {
            color: gray;
        }
    }

    .btn-group {
        display: flex;

        .btn-prev,
        .btn-next,
        .btn-submit {
            border-radius: 4px;
            padding: 8px;
        }
    
        .btn-prev {
            background: var(--light-gray);
            color: var(--marine-blue);
        }
    
        .btn-next {
            color: #fff;
            background: var(--marine-blue);
        }

        .btn-submit {
            color: #fff;
            background-color: var(--purplish-blue);
            
            &:disabled {
                background: var(--light-gray);
            }
        }
    }
}

@media (min-width: 769px) {
    .form {
        padding: 2rem;
        position: static;
        width: 500px;

        h1 {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}