body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  background-color: var(--magnolia)!important;
  position: relative;
}

:root {
  /* PRIMARY */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /* NEUTRAL */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  /* SPACES */
  --sidebar-width: 250px;
}

button {
  border: none;
}

@media (min-width: 769px) {
  main {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 500px;
  }
}

.error {
  color: var(--strawberry-red);
  font-size: 12px;
  text-align: end;
  width: 100%;
  margin-bottom: 0;
}

.input-error {
  border: 1px solid var(--strawberry-red)!important;
}

.circle-error {
  border: 1px solid red;
  background-color: var(--strawberry-red);
}

.hidden{
  display: none!important;
}